<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>insta485</title>
    <link rel="stylesheet" href="/html/css/style.css">
</head>

<body>
    <header>
        <a href="/" class="logo">Insta485</a>
        <a href="/html/explore">Explore</a>
        <a href="/html/users/awdeorio">awdeorio</a>
    </header>
    <main>
        <h1>awdeorio</h1>
        <p>2 posts • <a href="/html/users/awdeorio/followers">2 followers</a> • <a href="/users/awdeorio/following">2
                following</a></p>
        <p>Andrew DeOrio</p>
        <img src="/html/images/IMG_2595.PNG" alt="Post 1">
        <img src="/html/images/IMG_5121.JPG" alt="Post 1">
    </main>
</body>

</html>